<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> < /Developer ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#sobre-mi">Sobre Mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experiencia">Experiencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#educacion">Educación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Tecnologías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#certificaciones">Certificaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#proyectos">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Hero con imagen de fondo + Redes Sociales -->
<header class="hero d-flex">
  <div class="hero-content">
    <!-- Ajusta la ruta a tu imagen de perfil -->
    <img
      src="https://github.com/loplop8/MyPortfolio/blob/gh-pages/assets/images/1719675331673.jpeg"
      alt="Foto de perfil"
    />
    <h1>José Antonio López López</h1>
    <h2>Full Stack Developer</h2>

    <!-- Redes sociales en el Hero -->
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/joseantoniolopez2/" target="_blank">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="https://github.com/loplop8" target="_blank">
        <i class="fab fa-github fa-2x"></i>
      </a>
      <a href="https://wa.me/+34607450598" target="_blank">
        <i class="fab fa-whatsapp fa-2x"></i>
      </a>
    </div>
  </div>
</header>

<!-- Sección: Sobre Mí -->
<section id="sobre-mi" class="section" tabindex="0">
  <h2>Sobre Mí</h2>
  <p>
    ¡Hola! Soy José Antonio López López, un apasionado Full Stack Developer con
    experiencia en
    <strong
      >JavaScript, Java, Python, PHP, Angular, Spring, Flutter, SQL y
      NodeJS</strong
    >.
  </p>
  <p>
    He tenido la oportunidad de participar en proyectos de
    <strong>microservicios</strong>, <strong>Dockerización</strong>, integración
    de <strong>bots</strong> de WhatsApp/Telegram y
    <strong>mejoras de seguridad (2FA)</strong>, abarcando tanto el
    <strong>frontend</strong> (Angular) como el
    <strong>backend</strong> (Node.js con NestJS/Express, o Java con Spring
    Boot). Además, cuento con experiencia impartiendo clases de desarrollo de
    software, reforzando mis habilidades de comunicación.
  </p>
  <p>
    Mi objetivo es continuar aprendiendo y colaborando en proyectos innovadores
    que requieran un enfoque creativo y una mentalidad de mejora continua. ¡Te
    invito a conocer mis proyectos, certificaciones y trayectoria, o a
    contactarme directamente para explorar sinergias!
  </p>
</section>

<!-- Sección: Experiencia (Timeline) -->
<section id="experiencia" class="section" tabindex="0">
  <h2>Experiencia</h2>
  <div class="timeline">
    <!-- Software Developer en Ayesa -->
    <div class="timeline-item">
      <h5>
        <strong>Software Developer</strong> en <em>Ayesa</em><br />
        <small>(ago. 2024 - Actualidad | 6 meses)</small>
      </h5>
      <p>
        Modalidad híbrida. Desarrollo de microservicios y API’s con Node.js
        (NestJS, Express), Docker Compose y mantenimiento de servicios en
        frontend (Angular).
      </p>
      <ul>
        <li>Plan de contingencias para Endesa (backend y frontend).</li>
        <li>
          Backend para cita previa de la C.A. de Murcia, integrando bots
          WhatsApp y Telegram.
        </li>
        <li>
          Mejoras de seguridad con doble factor de autenticación (2FA) en
          Endesa.
        </li>
        <li>Mejoras en proyecto Tcall (backend y frontend)</li>
      </ul>
    </div>

    <!-- Full Stack Developer (Freelance) -->
    <div class="timeline-item">
      <h5>
        <strong>Full Stack Developer (Freelance)</strong><br />
        <small>(ene. 2024 - jul. 2024 | 7 meses)</small>
      </h5>
      <p>
        Desarrollo del sitio web
        <a
          href="https://www.pizzeriamartino.es"
          target="_blank"
          class="text-info"
        >
          Pizzería Martino </a
        >, incluyendo requisitos, diseño backend/BD, frontend y despliegue en
        producción.
      </p>
    </div>

    <!-- Instructor de software -->
    <div class="timeline-item">
      <h5>
        <strong>Instructor de software</strong><br />
        <small>(oct. 2023 - dic. 2023 | 3 meses)</small>
      </h5>
      <p>
        Clases particulares sobre desarrollo y despliegue de proyectos de fin de
        grado superior. Tecnologías: Java EE (JSP), JavaScript, Bootstrap 5.0.
      </p>
    </div>

    <!-- Full Stack Developer en Astibot -->
    <div class="timeline-item">
      <h5>
        <strong>Full Stack Developer</strong> en <em>Astibot Ingeniería</em
        ><br />
        <small>(sept. 2023 - nov. 2023 | 3 meses)</small>
      </h5>
      <p>
        Desarrollo de aplicaciones web completas (backend y frontend), con
        diseño y construcción de base de datos.
      </p>
    </div>

    <!-- Programador informático en Bluumi -->
    <div class="timeline-item">
      <h5>
        <strong>Programador informático</strong> en <em>Bluumi Mobile Apps</em
        ><br />
        <small>(mar. 2023 - jun. 2023 | 4 meses)</small>
      </h5>
      <p>
        Proyecto híbrido en Sevilla. Trabajos centrados en PHP, expresiones
        regulares, y otras tecnologías web.
      </p>
    </div>
  </div>
</section>

<!-- Sección: Educación -->
<section id="educacion" class="section" tabindex="0">
  <h2>Educación</h2>
  <div class="timeline">
    <!-- Item 1: IES Camas -->
    <div class="timeline-item">
      <h5><strong>IES Camas</strong> (sept. 2021 - jul. 2023)</h5>
      <p>
        Desarrollo de Aplicaciones Web <br />
        Aptitudes destacadas: Java, HTML, CSS, XML, JavaScript, PHP, Docker,
        entre otras.
      </p>
    </div>

    <!-- Item 2: Centro ITIS -->
    <div class="timeline-item">
      <h5><strong>Centro ITIS</strong> (2018)</h5>
      <p>
        Máster en Informática <br />
        Especialización en Programación Java y diseño gráfico con Photoshop.
        <br />
        Aptitudes destacadas: PHP, CSS, Java, etc.
      </p>
    </div>
  </div>
</section>

<!-- Sección: Tecnologías y Herramientas (3 columnas) -->
<section class="row text-center section" tabindex="0" id="skills">
  <h2>Tecnologias y Herramientas:</h2>
  <div class="col">
    <h3>Backend Skills:</h3>
    <ul class="principal">
      <li class="java">JAVA</li>
      <li class="spring">Spring Framework</li>
      <li class="php">PHP</li>
      <li class="sql">SQL Database</li>
      <li class="py">Python</li>
    </ul>
  </div>
  <div class="col">
    <h3>Development Tools:</h3>
    <ul class="principal">
      <li class="git">Git</li>
      <li class="docker">Docker</li>
      <li class="trello">Trello</li>
      <li class="code">Visual Studio Code</li>
      <li class="netbeans">NetBeans</li>
      <li class="postman">Postman</li>
      <li class="IntelliJ">IntelliJ</li>
      <li class="eclipse">Eclipse</li>
    </ul>
  </div>
  <div class="col">
    <h3>Frontend Skills:</h3>
    <ul class="principal">
      <li class="html">HTML</li>
      <li class="css">CSS</li>
      <li class="bootstrap">Bootstrap(HTML + CSS)</li>
      <li class="javascript">JavaScript</li>
      <li class="angular">Angular (TypeScript)</li>
      <li class="flutter">Flutter(Dart)</li>
    </ul>
  </div>
</section>

<!-- Sección: Certificaciones -->
<section id="certificaciones" class="section" tabindex="0">
  <h2>Certificaciones</h2>
  <div class="timeline">
    <!-- IT Specialist - Cybersecurity -->
    <div class="timeline-item">
      <h5>
        <strong>IT Specialist - Cybersecurity</strong>
      </h5>
      <p>
        <em>Certiport - Pearson VUE Business | sept. 2024</em><br />
        Aptitudes: Ciberseguridad <br />
        <a
          href="https://www.credly.com/badges/9cd44f11-52e3-47f3-adb7-39f55c2f8707/linked_in_profile"
          class="btn btn-outline-light btn-floating m-1 animated-link"
          role="button"
        >
          Visualizar Certificado
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-file-earmark-arrow-down"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"
            />
            <path
              d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2"
            />
          </svg>
        </a>
      </p>
    </div>

    <!-- Ciberseguridad avanzada -->
    <div class="timeline-item mt-3">
      <h5>
        <strong
          >Ciberseguridad avanzada en entornos de la tecnología de la
          operación</strong
        >
      </h5>
      <p>
        <em>MainJobs | ago. 2024</em><br />
        ID: F230001MC<br />
        Aptitudes: Ciberseguridad en tecnologías de la información<br />
        <a
          href="/assets/documents/Diploma de Ciberseguridad en la Industria.pdf"
          class="btn btn-outline-light btn-floating m-1 animated-link"
          role="button"
        >
          Descargar certificado
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-file-earmark-arrow-down"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"
            />
            <path
              d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2"
            />
          </svg>
        </a>
      </p>
    </div>

    <!-- Curso Spring Boot -->
    <div class="timeline-item mt-3">
      <h5>
        <strong>Curso Spring Boot</strong>
      </h5>
      <p>
        <em>Udemy | oct. 2023</em><br />
        ID de la credencial: UC-07225a4f-ec2f-40c0-9b50-9dfb9a476368<br />
        Aptitudes: Hibernate, SQL, Thymeleaf, Java, Maven, Spring Boot<br />
        <a
          href="./assets/documents/spring.pdf"
          class="btn btn-outline-light btn-floating m-1 animated-link"
          role="button"
        >
          Descargar Certificado
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-file-earmark-arrow-down"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"
            />
            <path
              d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2"
            />
          </svg>
        </a>
      </p>
    </div>

    <!-- Preliminary English Test (B1) -->
    <div class="timeline-item mt-3">
      <h5>
        <strong>Preliminary English Test (B1)</strong>
      </h5>
      <p>
        <em>Cambridge University Press & Assessment English | jul. 2023</em
        ><br />
        ID: C3589064<br />
        Aptitudes: Inglés<br />
        <a
          href="./assets/documents/CertificadoB1.PDF"
          class="btn btn-outline-light btn-floating m-1 animated-link"
          role="button"
        >
          Descargar Certificado
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-file-earmark-arrow-down"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"
            />
            <path
              d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2"
            />
          </svg>
        </a>
      </p>
    </div>

    <!-- Curso Flutter -->
    <div class="timeline-item mt-3">
      <h5>
        <strong>Curso Flutter (Cursado en prácticas de Bluumi)</strong>
      </h5>
      <p>
        <em>Udemy | jun. 2023</em><br />
        ID de la credencial: UC-40bc139-fbf6-4e72-a7c3-b1f9f63d7fd6<br />
        Aptitudes: Dart, SQL, Flutter, Resolución de problemas<br />
        <a
          href="./assets/documents/flutter.pdf"
          class="btn btn-outline-light btn-floating m-1 animated-link"
          role="button"
        >
          Descargar Certificado
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-file-earmark-arrow-down"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"
            />
            <path
              d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2"
            />
          </svg>
        </a>
      </p>
    </div>

    <!-- Curso Python -->
    <div class="timeline-item mt-3">
      <h5>
        <strong>Curso Python</strong>
      </h5>
      <p>
        <em>Udemy</em><br />
        Aptitudes: Python<br />
        <a
          href="./assets/documents/python.pdf"
          class="btn btn-outline-light btn-floating m-1 animated-link"
          role="button"
        >
          Descargar Certificado
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-file-earmark-arrow-down"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"
            />
            <path
              d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2"
            />
          </svg>
        </a>
      </p>
    </div>
  </div>
</section>

<!-- Sección: Proyectos (Carrusel) -->
<section id="proyectos" class="section" tabindex="0">
  <h2>Proyectos</h2>
  <div id="projectsCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Proyecto 1 (activo) -->
      <div class="carousel-item active">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card h-100">
              <div class="card-header text-center">
                <h5 class="card-title">Pizzería Martino</h5>
              </div>
              <div class="card-body text-center">
                <!-- Ajusta la ruta a la imagen del proyecto -->
                <img
                  src="./assets/images/Captura desde 2025-01-18 17-19-42.png"
                  alt="Pizzería Martino"
                  class="img-fluid"
                  style="max-height: 200px"
                />
                <p class="card-text mt-3">
                  Sitio web completo para un negocio de restauración.
                </p>
              </div>
              <div class="card-footer text-center">
                <a
                  href="https://www.pizzeriamartino.es"
                  target="_blank"
                  class="btn btn-custom"
                >
                  Ver Proyecto
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 2 (ejemplo) -->
      <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card h-100">
              <div class="card-header text-center">
                <h5 class="card-title">Cita Previa Endesa</h5>
              </div>
              <div class="card-body text-center">
                <!-- Ajusta la ruta de la imagen -->
                <img
                  src="./assets/images/citaPreviaEndesa.png"
                  alt="Proyecto 2"
                  class="img-fluid"
                  style="max-height: 200px"
                />
                <p class="card-text mt-3">
                  Reservas de citas previas de Endesa
                </p>
              </div>
              <div class="card-footer text-center">
                <a
                  href="https://endesaxcitaprevia.ayesa.link/#/inicio"
                  class="btn btn-custom"
                  target="_blank"
                >
                  Ver Proyecto
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Proyecto 3 (ejemplo) -->
      <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card h-100">
              <div class="card-header text-center">
                <h5 class="card-title">Bots de WhatsApp y Telegram</h5>
              </div>
              <div class="card-body text-center">
                <img
                  src="./assets/images/citaBots.png"
                  alt="Proyecto 3"
                  class="img-fluid"
                  style="max-height: 200px"
                />
                <p class="card-text mt-3">
                  Reservas de citas en la CA de murcia a traves de vias
                  telematicas
                </p>
              </div>
              <div class="card-footer text-center">
                <a
                  href="https://www.carm.es/web/pagina?IDCONTENIDO=74185&IDTIPO=100&RASTRO=c672$m26640"
                  class="btn btn-custom"
                  >Ver Proyecto</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Controles del carrusel (prev/next) -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#projectsCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#projectsCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</section>

<!-- Sección: Contacto -->
<section id="contacto" class="section" tabindex="0" *ngIf="!correoEnviado">
  <h2>Contacta conmigo</h2>

  <div class="contacto-form mt-4">
    <form (ngSubmit)="enviarCorreo()">
      <div class="mb-3">
        <label for="remitente" class="form-label">Nombre</label>
        <input
          type="text"
          (blur)="esNombreValido()"
          class="form-control"
          id="remitente"
          [(ngModel)]="emailData.remitente"
          name="remitente"
          placeholder="Tu nombre"
          required
        />
      </div>

      <div class="mb-3">
        <label for="correoRemitente" class="form-label"
          >Correo electrónico</label
        >
        <input
          type="email"
          (blur)="esCorreoValido()"
          class="form-control"
          id="correoRemitente"
          [(ngModel)]="emailData.correoRemitente"
          name="correoRemitente"
          placeholder="nombre@ejemplo.com"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />
      </div>

      <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea
          class="form-control"
          (blur)="esMensajeValido()"
          id="mensaje"
          rows="4"
          [(ngModel)]="emailData.mensaje"
          name="mensaje"
          placeholder="Escribe tu mensaje"
          required
        ></textarea>
      </div>

      <button type="submit" class="btn btn-custom" [disabled]="enviando">
        <span *ngIf="!enviando">Enviar</span>
        <span *ngIf="enviando">
          <i class="fas fa-spinner fa-spin"></i> Enviando...
        </span>
      </button>
    </form>
  </div>
</section>

<!-- ✅ Sección de confirmación cuando el mensaje se ha enviado -->
<section
  id="confirmacion"
  class="section text-center"
  tabindex="0"
  *ngIf="correoEnviado"
>
  <h2>¡Mensaje Enviado!</h2>
  <p>Gracias por tu mensaje. Me pondré en contacto contigo lo antes posible.</p>
</section>

<!-- Botón "Volver arriba" -->
<button id="btnBackToTop" title="Volver arriba">
  <i class="fas fa-chevron-up"></i>
</button>

<!-- Footer -->
<footer>
  <p>&copy; 2025 José Antonio López López. Todos los derechos reservados.</p>
</footer>
